@use '../abstracts/index' as *;

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-bottom: var(--spacing-xl);
  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
}

.container {
  @include container;

  &--fluid {
    @include container(none);
  }
}
